// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  font-family: 'Lucida Sans';
}
h1 {

  font-size: 32px;
}

p{
  font-size: 16px;
}
